<?xml version="1.0"?>
<config>
    <modules>
        <Ewall_Autorelated>
            <version>0.1.0</version>
        </Ewall_Autorelated>
    </modules>
    <frontend>
        <routers>
            <autorelated>
                <use>standard</use>
                <args>
                    <module>Ewall_Autorelated</module>
                    <frontName>autorelated-products</frontName>
                </args>
            </autorelated>
        </routers>
        <layout>
            <updates>
                <autorelated>
                    <file>autorelated.xml</file>
                </autorelated>
            </updates>
        </layout>
    </frontend>
    <admin>
		<routers>
			<autorelated>
				<use>admin</use>
				<args>
					<module>Ewall_Autorelated</module>
					<frontname>autorelated-products</frontname>
				</args>
			</autorelated>
		</routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>  
									<children> 
										<autorelated>
											<title>Automatic Related Products</title>
										</autorelated>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <default> 
		<autorelated_products>
			<general>				
				<enabled>1</enabled>
			</general>
		</autorelated_products>
	</default> 

    <global>
        <blocks>
            <autorelated>
                <class>Ewall_Autorelated_Block</class>
            </autorelated>
        </blocks>
        <helpers>
			<autorelated>
				<class>Ewall_Autorelated_Helper</class>
			</autorelated>
        </helpers>
    </global>
   
</config>
