<?xml version="1.0"?>
<!--
/*////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\   FME Layaway extension  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\ NOTICE OF LICENSE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                                                                   ///////
 \\\\\\\ This source file is subject to the Open Software License (OSL 3.0)\\\\\\\
 ///////   that is bundled with this package in the file LICENSE.txt.      ///////
 \\\\\\\   It is also available through the world-wide-web at this URL:    \\\\\\\
 ///////          http://opensource.org/licenses/osl-3.0.php               ///////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                      * @category   FME                            ///////
 \\\\\\\                      * @package    FME_Layaway                    \\\\\\\
 ///////    * @author     Malik Tahir Mehmood <malik.tahir786@gmail.com>   ///////
 \\\\\\\                                                                   \\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\* @copyright  Copyright 2010 © free-magentoextensions.com All right reserved\\\
 /////////////////////////////////////////////////////////////////////////////////
 */


-->
<config>
    <modules>
        <FME_Layaway>
            <version>0.0.2</version>
        </FME_Layaway>
    </modules>
    <admin>
        <routers>
            <layawayadmin>
                <use>admin</use>
                <args>
                    <module>FME_Layaway</module>
                    <frontName>layawayadmin</frontName>
                </args>
            </layawayadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <layaway>
                    <file>layaway.xml</file>
                </layaway>
            </updates>
        </layout>
	<events>
	    <core_block_abstract_prepare_layout_after>
		<observers>
		    <fme_product_injectTabs>
			<type>singleton</type>
			<class>layaway/observer_product</class>
			<method>injectTabs</method>
		    </fme_product_injectTabs>
		</observers>
	    </core_block_abstract_prepare_layout_after>
	    <catalog_product_save_after>
		<observers>
		    <fme_save_product_data>
			<type>singleton</type>
			<class>layaway/observer_product</class>
			<method>saveTabData</method>
		    </fme_save_product_data>
		</observers>
	    </catalog_product_save_after>
	</events>
    </adminhtml> 
    <frontend>
	<events>
	    <checkout_cart_product_add_after>
		<observers>
		    <layaway_add_to_cart_after>
			<class>layaway/observer_observer</class>
			<method>AddToCartAfter</method>
		    </layaway_add_to_cart_after>
		</observers>
	    </checkout_cart_product_add_after>
	    <controller_action_predispatch_checkout_cart_updateItemOptions>
		<observers>
		    <layaway_>
			<class>layaway/observer_observer</class>
			<method>OnConfigureCart</method>
		    </layaway_>
		</observers>
	    </controller_action_predispatch_checkout_cart_updateItemOptions>
	    <controller_action_predispatch_checkout_cart_updatePost>
		<observers>
		    <layaway_cart_updateItemOptions>
			<class>layaway/observer_observer</class>
			<method>OnUpdateCart</method>
		    </layaway_cart_updateItemOptions>
		</observers>
	    </controller_action_predispatch_checkout_cart_updatePost>
	    <controller_action_predispatch_checkout_cart_delete>
		<observers>
		    <layaway_cart_updatePost>
			<class>layaway/observer_observer</class>
			<method>OnRemoveCart</method>
		    </layaway_cart_updatePost>
		</observers>
	    </controller_action_predispatch_checkout_cart_delete>
	    <sales_quote_add_item>
		<observers>
		    <layaway_quote_add_item>
			<class>layaway/observer_observer</class>
			<method>updatePrice</method>
		    </layaway_quote_add_item>
		</observers>
	    </sales_quote_add_item>
	    <sales_convert_quote_to_order>
		<observers>
		    <layaway_orderupdate_observer>
			<class>layaway/observer_observer</class>
			<method>updateOrder</method>
		    </layaway_orderupdate_observer>
		</observers>
	    </sales_convert_quote_to_order>
	    <sales_quote_item_qty_set_after>
		<observers>
		    <layaway_orderupdate_observer>
			<class>layaway/observer_observer</class>
			<method>validateInstallment</method>
		    </layaway_orderupdate_observer>
		</observers>
	    </sales_quote_item_qty_set_after>
	    <sales_quote_item_set_product>
		<observers>
		    <layaway_orderupdate_observer>
			<class>layaway/observer_observer</class>
			<method>updateInstallment</method>
		    </layaway_orderupdate_observer>
		</observers>
	    </sales_quote_item_set_product>
	</events>
        <layout>
	    <updates>
		<layaway>
		    <file>layaway.xml</file>
		</layaway>
	    </updates>
        </layout>
	<routers>
            <layaway>
                <use>standard</use>
                <args>
                    <module>FME_Layaway</module>
                    <frontName>layaway</frontName>
                </args>
            </layaway>
        </routers>
    </frontend>
    <global>
	<sales>
	    <quote>
                <totals>
                    <layaway_fee>
                        <class>layaway/quote_Layawayfee</class>
                        <after>grand_total</after>
                        <renderer>layaway/checkout_layawayfee</renderer>
                        <admin_renderer>layaway/adminhtml_sales_order_create_totals_layaway</admin_renderer>
                    </layaway_fee>
		    <layaway_remaining>
                        <class>layaway/quote_layawayremaining</class>
                        <after>grand_total</after>
                        <renderer>layaway/checkout_layawayremaining</renderer>
			<admin_renderer>layaway/adminhtml_sales_order_create_totals_layaway</admin_renderer>
                    </layaway_remaining>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <layaway_fee>
                        <class>layaway/invoice_Layawayfee</class>
                    </layaway_fee>
                    <layaway_remaining>
                        <class>layaway/invoice_layawayremaining</class>
                    </layaway_remaining>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <layaway>
                        <class>layaway/creditmemo_Layawayfee</class>
                    </layaway>
		    <layaway_remaining>
                        <class>layaway/creditmemo_layawayremaining</class>
                    </layaway_remaining>
                </totals>
            </order_creditmemo>
	    <order>
		<statuses>
		    <layaway_pending translate="label">
			<label>Layaway Pending</label>
		    </layaway_pending>
		    <layaway_complete translate="label">
			<label>Layaway Complete</label>
		    </layaway_complete>
		</statuses>
		<states>
		   <layaway_pending translate="label">
			<label>Layaway Pending</label>
			<statuses>
			    <layaway_pending default="1"/>
			</statuses>
			<visible_on_front>1</visible_on_front>                      
		   </layaway_pending>
		   <layaway_complete translate="label">
			<label>Layaway Complete</label>
			<statuses>
			    <layaway_complete default="1"/>
			</statuses>
			<visible_on_front>1</visible_on_front>                      
		   </layaway_complete>
		</states>
	    </order>
        </sales>
	<events>
	    <paypal_prepare_line_items>
		<observers>
		    <paypal_prepare_line_items>
			<class>layaway/observer_observer</class>
			<method>modifywithLayaway</method>
		    </paypal_prepare_line_items>
		</observers>
	    </paypal_prepare_line_items>
	    <sales_order_save_after>
		<observers>
		    <layaway_sales_order_save_after>
			<class>layaway/observer_observer</class>
			<method>validateStatus</method>
		    </layaway_sales_order_save_after>
		</observers>
	    </sales_order_save_after>
	    <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>layaway/observer_observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
	    <sales_order_creditmemo_save_after>
		<observers>
		    <sales_order_creditmemo_save_after>
			<class>layaway/observer_observer</class>
			<method>creditmemoSaveAfter</method>
		    </sales_order_creditmemo_save_after>
		</observers>
           </sales_order_creditmemo_save_after>
        </events>
	<fieldsets>
            <sales_convert_quote_address>
		<is_layaway><to_order>*</to_order></is_layaway>
		<!--<layaway_order><to_order>*</to_order></layaway_order>-->
                <layaway_fee><to_order>*</to_order></layaway_fee>
                <base_layaway_fee><to_order>*</to_order></base_layaway_fee>
		<layaway_remaining><to_order>*</to_order></layaway_remaining>
                <base_layaway_remaining><to_order>*</to_order></base_layaway_remaining>
            </sales_convert_quote_address>
	    <sales_convert_quote>
		<layaway_order><to_order>*</to_order></layaway_order>
		<layaway_info><to_order>*</to_order></layaway_info>
            </sales_convert_quote>
	    <sales_convert_quote_item>
		<is_layaway><to_order_item>*</to_order_item></is_layaway>
		<layaway_remaining><to_order_item>*</to_order_item></layaway_remaining>
                <base_layaway_remaining><to_order_item>*</to_order_item></base_layaway_remaining>
	    </sales_convert_quote_item>
        </fieldsets>
        <blocks>
            <layaway>
                <class>FME_Layaway_Block</class>
            </layaway>
	    <adminhtml>
                <rewrite>
		    <customer_edit_tabs>FME_Layaway_Block_Customer_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <layaway>
                <class>FME_Layaway_Model</class>
		<resourceModel>layaway_mysql4</resourceModel>
            </layaway>
	    <salesrule>
		<rewrite>
		    <validator>FME_Layaway_Model_Validator</validator>
		</rewrite>
	    </salesrule>
	    <layaway_mysql4>
		<class>FME_Layaway_Model_Mysql4</class>
		<entities>
		    <layaway>
			<table>layaway</table>
		    </layaway>
		    <products>
			<table>layaway_products</table>
		    </products>
		    <orders>
			<table>layaway_orders</table>
		    </orders>
		</entities>
	    </layaway_mysql4>
        </models>
        <helpers>
	    <payment>
		<rewrite>
		    <data>FME_Layaway_Helper_Payment_Data</data>
		</rewrite>
	    </payment>
            <layaway>
                <class>FME_Layaway_Helper</class>
            </layaway>
        </helpers>
        <resources>
            <layaway_setup>
                <setup>
                    <module>FME_Layaway</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </layaway_setup>
            <layaway_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </layaway_write>
            <layaway_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </layaway_read>
        </resources>
    </global>
    <default>
	<layaway>
	    <general><enable>0</enable></general>
	</layaway>
    </default>
</config>