app/design/install/
install.php
media/
nbproject/
skin/install/
var/
BACKUP_10-12-2013/
.htaccess
blog/.DS_Store
blog/wp-content/updraft/*
blog/.svn
blog/.cvs
blog/*.bak
blog/*.swp
blog/.htaccess
blog/Thumbs.db
blog/wp-config.php
blog/wp-content/uploads/
blog/wp-content/blogs.dir/
blog/wp-content/upgrade/
blog/wp-content/backup-db/
blog/wp-content/advanced-cache.php
blog/wp-content/wp-cache-config.php
blog/wp-content/cache/*
blog/wp-content/cache/supercache/*
blog/*.log
blog/wp-content/cache/
blog/wp-content/backups/
blog/wp-content/updraft/
