<?xml version="1.0"?>
<config>
    <modules>
        <Ewall_Bestsellerslider>
            <version>1.5.0</version>
        </Ewall_Bestsellerslider>
    </modules>
    <frontend>
        <routers>
            <bestsellerslider>
                <use>standard</use>
                <args>
                    <module>Ewall_Bestsellerslider</module>
                    <frontName>bestsellerslider</frontName>
                </args>
            </bestsellerslider>
        </routers>
        <layout>
            <updates>
                <bestsellerslider>
                    <file>bestsellerslider.xml</file>
                </bestsellerslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bestsellerslider>
				<use>admin</use>
				<args>
					<module>Ewall_Bestsellerslider</module>
					<frontName>bestsellerslider</frontName>
				</args>
			</bestsellerslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<ewall translate="title" module="bestsellerslider">
				<title>ProductSlider</title>
				<sort_order>71</sort_order>               
				<children>
					<bestsellerslider translate="title" module="bestsellerslider">
						<title>BestSeller Slider</title>
						<sort_order>49</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/bestsellerslider</action>
							</configuration>
						</children>
					</bestsellerslider>
				</children>
			</ewall>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<bestsellerslider>
											<title> BestSeller Product Slider</title>
										</bestsellerslider>
									</children>
								</config>
							</children>
						</system>					
					</children>
				</admin>
			</resources>
		</acl>		
	<layout>
			<updates>
				<bestsellerslider>
					<file>bestsellerslider.xml</file>
				</bestsellerslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bestsellerslider>
                <class>Ewall_Bestsellerslider_Model</class>
                <resourceModel>bestsellerslider_mysql4</resourceModel>
            </bestsellerslider>
            <bestsellerslider_mysql4>
                <class>Ewall_Bestsellerslider_Model_Mysql4</class>
                <entities>
                    <bestsellerslider>
                        <table>bestsellerslider</table>
                    </bestsellerslider>
                </entities>
            </bestsellerslider_mysql4>
        </models>
        <resources>
            <bestsellerslider_setup>
                <setup>
                    <module>Ewall_Bestsellerslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestsellerslider_setup>
            <bestsellerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestsellerslider_write>
            <bestsellerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestsellerslider_read>
        </resources>
        <blocks>
            <bestsellerslider>
                <class>Ewall_Bestsellerslider_Block</class>
            </bestsellerslider>
        </blocks>
        <helpers>
            <bestsellerslider>
                <class>Ewall_Bestsellerslider_Helper</class>
            </bestsellerslider>
        </helpers>
    </global>
	<default>
		<bestsellerslider>
			<bestsellerslider_config> <!-- paramenters for sidebar slider -->
				<enabled>1</enabled>
				<left>0</left>
				<right>1</right>
				<auto>1</auto>
				<title>BestSeller Products Slider</title>
				<width_scroller>172</width_scroller>
				<height_scroller>360</height_scroller>
				<price>1</price>
				<review>0</review>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<description>0</description>
				<qty>9</qty>
				<items_show>3</items_show>
				<items_scroll>1</items_scroll>
				<animation>800</animation>
				<width_thumbnail>55</width_thumbnail>
				<height_thumbnail>55</height_thumbnail>											
			</bestsellerslider_config>
			<bestsellerslider_content> <!-- parameters for content slider -->
				<enabled>1</enabled>				
				<auto>1</auto>
				<title>BestSeller Content Products Slider</title>
				<price>1</price>
				<review>0</review>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<description>0</description>
				<qty>9</qty>
				<items_show>3</items_show>
				<items_scroll>1</items_scroll>
				<animation>800</animation>
				<content_width_thumbnail>80</content_width_thumbnail>
				<content_height_thumbnail>80</content_height_thumbnail>
				<width_content_scroller>190</width_content_scroller>			
				<height_content_scroller>200</height_content_scroller>
			</bestsellerslider_content>
		</bestsellerslider>
		
	</default>
</config>
