<?xml version="1.0"?>
<config>
	<tabs>
		<ewall translate="label" module="bestsellerslider">
			<label>Ewall</label>
			<sort_order>205</sort_order>
		</ewall>
	</tabs>
	<sections>
		<bestsellerslider translate="label" module="bestsellerslider">
			<label>BestSeller Slider</label>
			<tab>ewall</tab>
			<sort_order>168</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<bestsellerslider_config translate="label">
					<label>BestSeller Sidebar Slider Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</enabled>
						<left translate="label comment">
							<label>Show SideBar Left: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</left>
						<right translate="label comment">
							<label>Show SideBar Right: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</right>
						<auto translate="label comment">
							<label>Auto Scroller: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</auto>
                        <title translate="label">
                            <label>Title: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<width_scroller>
							<label>Sidebar Width of Scroller: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</width_scroller>
						<height_scroller>
							<label>Sidebar Height of Scroller: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</height_scroller>
						<price translate="label comment">
							<label>Show Price: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>17</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</price>
						<review translate="label comment">
							<label>Show Review Rating: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>18</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</review>	
						<addtocart translate="label comment">
							<label>Show Add To Cart: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>19</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</addtocart>
						<addtowishlist translate="label comment">
							<label>Show Add To Wishlist: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</addtowishlist>
						<addtocompare translate="label comment">
							<label>Show Add To Compare: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</addtocompare>															
						<qty translate="label">
                            <label>Qty Of Products: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </qty>
						<items_show translate="label">
                            <label>Number Item Show: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </items_show>
                        <items_scroll translate="label">
                            <label>Products Scroll: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </items_scroll>
						<animation translate="label">
							<label>Animation Duration: </label>
							<frontend_type>text</frontend_type>
							<sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>							
						</animation>
						<width_thumbnail translate="label">
                            <label>Sidebar Width of Thumbnail: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width_thumbnail>						
                        <height_thumbnail translate="label">
                            <label>Sidebar Height of Thumbnail: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height_thumbnail>                        
					</fields>
				</bestsellerslider_config>	
				<bestsellerslider_content translate="label">
					<label>BestSeller Content Slider Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled In Content Page: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</enabled>						
						<auto translate="label comment">
							<label>Auto Scroller: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</auto>
                        <title translate="label">
                            <label>Title: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<price translate="label comment">
							<label>Show Price: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>17</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</price>
						<review translate="label comment">
							<label>Show Review Rating: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>18</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</review>	
						<addtocart translate="label comment">
							<label>Show Add To Cart: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>19</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</addtocart>
						<addtowishlist translate="label comment">
							<label>Show Add To Wishlist: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</addtowishlist>
						<addtocompare translate="label comment">
							<label>Show Add To Compare: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</addtocompare>															
						<qty translate="label">
                            <label>Qty Of Products: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </qty>
						<items_show translate="label">
                            <label>Number Item Show: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </items_show>
                        <items_scroll translate="label">
                            <label>Products Scroll: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </items_scroll>
						<animation translate="label">
							<label>Animation Duration: </label>
							<frontend_type>text</frontend_type>
							<sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>							
						</animation>
						<content_width_thumbnail translate="label">
                            <label>Content Image Width of Thumbnail: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </content_width_thumbnail>						
                        <content_height_thumbnail translate="label">
                            <label>Content Image Height of Thumbnail: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </content_height_thumbnail>			
						<width_content_scroller translate="label">
							<label>Content width of scroller: </label>
							<frontend_type>text</frontend_type>
							<sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>							
						</width_content_scroller>                      				                
						<height_content_scroller translate="label">
							<label>Content Height of Scroller: </label>
							<frontend_type>text</frontend_type>
							<sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>							
						</height_content_scroller>
					</fields>
				</bestsellerslider_content>						
			</groups>
		</bestsellerslider>
	</sections>
</config>


