Hello, <br />
<br />
Thanks for installing the iwoca Magento extension. Here are your <br />
Magento store account identifiers: <br />
<br />
Account Number: {{var account_number}} <br />
<br />
Password: {{var password}} <br />
<br />
Please make sure you have copied these into your iwoca profile. If you <br />
have any questions give us a call on 020 3397 3375 or email <br />
support@iwoca.co.uk. <br />
<br />
Regards,<br />
<br />
The iwoca Team <br />
<br />
<br />
-- <br />
<br />
Tel: 020 3397 3375 | Fax: 020 3397 3095 <br />
www.iwoca.co.uk <br />
<br />
