<?xml version="1.0"?>
<config>
    <modules>
        <TM_SoldTogether>
            <version>1.2.0</version>
            <depends>
                <Mage_Catalog />
                <Mage_Sales />
                <Mage_Customer />
            </depends>
        </TM_SoldTogether>
    </modules>
    <global>
        <blocks>
            <soldtogether>
                <class>TM_SoldTogether_Block</class>
            </soldtogether>
        </blocks>
        <helpers>
            <soldtogether>
                <class>TM_SoldTogether_Helper</class>
            </soldtogether>
        </helpers>
        <models>
            <soldtogether>
                <class>TM_SoldTogether_Model</class>
                <resourceModel>soldtogether_mysql4</resourceModel>
            </soldtogether>
            <soldtogether_mysql4>
                <class>TM_SoldTogether_Model_Mysql4</class>
                <entities>
                    <order>
                        <table>tm_soldtogether_order</table>
                    </order>
                    <customer>
                        <table>tm_soldtogether_customer</table>
                    </customer>
                </entities>
            </soldtogether_mysql4>
        </models>
        <resources>
            <soldtogether_setup>
                <setup>
                    <module>TM_SoldTogether</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </soldtogether_setup>
            <soldtogether_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </soldtogether_write>
            <soldtogether_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </soldtogether_read>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <SoldTogether>
                    <file>soldtogether.xml</file>
                </SoldTogether>
            </updates>
        </layout>
        <routers>
            <soldtogether>
                <use>standard</use>
                <args>
                    <module>TM_SoldTogether</module>
                    <frontName>soldtogether</frontName>
                </args>
            </soldtogether>
        </routers>
        <translate>
            <modules>
                <TM_SoldTogether>
                    <files>
                        <default>TM_SoldTogether.csv</default>
                    </files>
                </TM_SoldTogether>
            </modules>
        </translate>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <soldtogether_observer>
                        <type>singleton</type>
                        <class>soldtogether/observer</class>
                        <method>indexNewOrdersSoldTogetherData</method>
                    </soldtogether_observer>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <soldtogether>
                    <file>soldtogether.xml</file>
                </soldtogether>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <soldtogether_observer>
                        <class>soldtogether/observer</class>
                        <method>prepareProductSoldTogetherData</method>
                    </soldtogether_observer>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>

    <admin>
        <routers>
            <soldtogether>
                <use>admin</use>
                <args>
                    <module>TM_SoldTogether</module>
                    <frontName>soldtogether</frontName>
                </args>
            </soldtogether>
        </routers>
    </admin>

    <default>
        <soldtogether>
            <general>
                <enabled>0</enabled>
                <random>0</random>
            </general>
            <order>
                <enabled>0</enabled>
                <productscount>4</productscount>
                <columns>4</columns>
                <addtocartcheckbox>0</addtocartcheckbox>
                <amazonestyle>0</amazonestyle>
            </order>
            <customer>
                <enabled>0</enabled>
                <productscount>4</productscount>
                <columns>4</columns>
                <addtocartcheckbox>0</addtocartcheckbox>
            </customer>
            <suggestpage>
                <order_enabled>1</order_enabled>
                <customer_enabled>1</customer_enabled>
            </suggestpage>
        </soldtogether>
    </default>
    
    <crontab>
        <jobs>
            <tm_soldtogether_reindex_orders>
                <schedule>
                    <cron_expr>0 1 * * 1</cron_expr>
                </schedule>
                <run>
                    <model>soldtogether/observer::autoReindexOrders</model>
                </run>
            </tm_soldtogether_reindex_orders>
        </jobs>
    </crontab>
</config>
