<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <EW_Twitterconnect>
            <version>1.0.1</version>
        </EW_Twitterconnect>
    </modules>
    <global>
        <blocks>
            <twitterconnect>
                <class>EW_Twitterconnect_Block</class>
            </twitterconnect>
        </blocks>
        <helpers>
            <twitterconnect>
                <class>EW_Twitterconnect_Helper</class>
            </twitterconnect>
        </helpers>
        <models>
            <twitterconnect>
                <class>EW_Twitterconnect_Model</class>
                <resourceModel>twitterconnect_resource</resourceModel>
            </twitterconnect>
            <twitterconnect_resource>
                <class>EW_Twitterconnect_Model_Resource</class>
			</twitterconnect_resource>
        </models>
        <resources>
            <twitterconnect_setup>
                <setup>
                    <module>EW_Twitterconnect</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </twitterconnect_setup>
            <twitterconnect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </twitterconnect_write>
            <twitterconnect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </twitterconnect_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <twitterconnect>
                <use>standard</use>
                <args>
                    <module>EW_Twitterconnect</module>
                    <frontName>twitterconnect</frontName>
                </args>
            </twitterconnect>
        </routers>
        <layout>
            <updates>
                <twitterconnect>
                    <file>twitterconnect.xml</file>
                </twitterconnect>
            </updates>
        </layout>
    </frontend>
</config>